# Server Environment Settings
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/interview_guide
JWT_SECRET=super_secret_jwt_passkey_minimum_length_32_characters

username
=========
sudhabnrj_db_user
osY5xGjmr3G8OHlh
